<div>

    <app-nav-bar></app-nav-bar>

    <div class="main-container container-fluid">

        <h1 class="text-center">Home</h1>

        <hr>

        <div class="d-flex justify-content-center">

            <div class="d-flex flex-column">
                <p class="text-center">User is logged in: {{isLoggedIn}}</p>

                <router-outlet></router-outlet>
            </div>

        </div>

        <hr>


        <h2 class="text-center">Aqui va el resto de la pagina...</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex animi sed tempore, inventore nam amet hic consequatur, 
            voluptatem facilis repellat possimus unde! Quis nostrum commodi eligendi dolorem mollitia! Reiciendis odio quos sint quas a
            periam alias optio esse rem nesciunt consequuntur, eum commodi culpa magnam, id, quam molestiae nulla suscipit! Magni totam 
            odit, doloremque at assumenda, harum optio perferendis, dolorum officiis numquam ab expedita excepturi maiores similique fugiat 
            necessitatibus eveniet fuga ex ipsum architecto maxime minima amet atque sapiente! Ratione possimus, cum fuga quod architecto odio
            ut dicta repellat adipisci, delectus amet voluptates esse exercitationem accusantium? Ratione, ea perferendis veniam cum at alias 
            excepturi voluptatibus doloribus maxime accusantium quaerat quis, tempora quibusdam ut adipisci recusandae, provident esse sit dolor qui!</p>

            
        <h2 class="text-center">Aqui va el resto de la pagina...</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex animi sed tempore, inventore nam amet hic consequatur, 
            voluptatem facilis repellat possimus unde! Quis nostrum commodi eligendi dolorem mollitia! Reiciendis odio quos sint quas a
            periam alias optio esse rem nesciunt consequuntur, eum commodi culpa magnam, id, quam molestiae nulla suscipit! Magni totam 
            odit, doloremque at assumenda, harum optio perferendis, dolorum officiis numquam ab expedita excepturi maiores similique fugiat 
            necessitatibus eveniet fuga ex ipsum architecto maxime minima amet atque sapiente! Ratione possimus, cum fuga quod architecto odio
            ut dicta repellat adipisci, delectus amet voluptates esse exercitationem accusantium? Ratione, ea perferendis veniam cum at alias 
            excepturi voluptatibus doloribus maxime accusantium quaerat quis, tempora quibusdam ut adipisci recusandae, provident esse sit dolor qui!</p>

            
        <h2 class="text-center">Aqui va el resto de la pagina...</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex animi sed tempore, inventore nam amet hic consequatur, 
            voluptatem facilis repellat possimus unde! Quis nostrum commodi eligendi dolorem mollitia! Reiciendis odio quos sint quas a
            periam alias optio esse rem nesciunt consequuntur, eum commodi culpa magnam, id, quam molestiae nulla suscipit! Magni totam 
            odit, doloremque at assumenda, harum optio perferendis, dolorum officiis numquam ab expedita excepturi maiores similique fugiat 
            necessitatibus eveniet fuga ex ipsum architecto maxime minima amet atque sapiente! Ratione possimus, cum fuga quod architecto odio
            ut dicta repellat adipisci, delectus amet voluptates esse exercitationem accusantium? Ratione, ea perferendis veniam cum at alias 
            excepturi voluptatibus doloribus maxime accusantium quaerat quis, tempora quibusdam ut adipisci recusandae, provident esse sit dolor qui!</p>
            
    </div>

    <div class="footer bg-dark">
        <div class="container text-center">
            <span class="text-muted">© {{year}} El Complejo</span>
        </div>
    </div>

</div>



