
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background-image: url(&quot;assets/img/robinson-greig-AARDxBv3AuE-unsplash%201.png&quot;); background-position: center;">
    <form [formGroup]="registerForm" (ngSubmit)="registerFormOnSubmit()" autocomplete="off" style="width: 350px; max-width: 75%;">
        
        <input type="text" class="form-control m-2" formControlName="email" placeholder="correo" autocomplete="off"/>

        <input type="text" class="form-control m-2" formControlName="dni" placeholder="dni" autocomplete="off"/>

        <input type="text" class="form-control m-2" formControlName="phoneNumber" placeholder="numero de teléfono" autocomplete="off"/>

        <input type="text" class="form-control m-2" formControlName="name" placeholder="nombre" autocomplete="off"/>

        <input type="text" class="form-control m-2" formControlName="lastName" placeholder="apellido" autocomplete="off"/>
        
        <input type="password" class="form-control m-2" formControlName="password" placeholder="contraseña" autocomplete="off"/>

        <button type="submit" class="btn btn-primary m-2" style="background: #1EBF78;border-radius: 35px;border-style: none;font-family: Rubik;max-width: 100%;">Registrarse</button>
    </form>
</div>